.FavCategory{
  margin-bottom: 60px;
  h2{
    float: left;
    margin-bottom: 19px;
  }
}

.FavCategory__link{
  float: right;
  color: $black;
}

.FavCategorySlider__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.FavCategorySlider__item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% / 3) - 15px);
  height: 185px;
  border: 1px solid $greyBorder;
  margin-bottom: 30px;
  padding-left: 180px;

  h3{
    font-size: 2rem;
  }

  &:nth-child(1){
    @include background-2x( '../images/img_categorie_alimentation', 'png', auto, auto, 0 center, no-repeat );
  }
  &:nth-child(2){
    @include background-2x( '../images/img_categorie_laisses', 'png', auto, auto, 0 center, no-repeat );
  }
  &:nth-child(3){
    @include background-2x( '../images/img_categorie_maison', 'png', auto, auto, 0 center, no-repeat );
  }
  &:nth-child(4){
    @include background-2x( '../images/img_categorie_couchages', 'png', auto, auto, 0 center, no-repeat );
  }
  &:nth-child(5){
    @include background-2x( '../images/img_categorie_portes', 'png', auto, auto, 0 center, no-repeat );
  }
  &:nth-child(6){
    @include background-2x( '../images/img_categorie_friandises', 'png', auto, auto, 0 center, no-repeat );
  }
}

@media (max-width: $screen-sm){
  .FavCategorySlider__item{
    width: calc(100% - 20px);
  }
}