#FooterMain{
  font-size: 2.1rem;;
  color: #fff;
  padding: 42px 15px 70px;
  background: $blue;
  background: linear-gradient(to left, #82d5ef, #57b8bb 100%);
  text-align: center;

  a{
    color: #fff;
  }
}

.FooterText{
  margin-bottom: 38px;
  img{
    margin: 10px;
  }
}

.FooterSocials{
  margin-bottom: 40px;
  a{
    padding: 5px;
    &:hover{
      border: none;
    }
  }
}

.FooterBottom{
  font-size: 1.4rem;
  nav{
    margin-top: 5px;
  }
}