.FormSearch{
  width: 482px;
  margin: auto;
  input[type=text]{
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: #a4a4a4;
    float: left;
    width: calc(100% - 69px);
    height: 59px;
    padding: 20px 15px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  input[type=submit]{
    display: block;
    font-family: $font;
    width: 69px;
    height: 59px;
    padding: 15px;
    color: #fff;
    background: $pink;
    overflow: hidden;
    border: 0;
    border-radius: 0 5px 5px 0; 
  }
}

.FormSearch__example{
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 900;
  text-align: left;
  text-shadow: 0 0 2px rgba(42, 146, 176, 0.5);
}