.HeaderMainMobile{
  display: flex;
  height: 57px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey4;

  button{
    background: transparent;
    border: 0;
  }
}
@media (min-width: $screen-sm){
  .HeaderMainMobile{
    display: none;
  }
}