.HeaderMainDesktop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding-bottom: 17px;
}

.HeaderMainDesktop__links{
  font-size: 2rem;
  li{
    display: inline-block;
    padding-left: 14px;
    strong{
      font-weight: 900;
    }
  }
}

@media (max-width: $screen-sm){
  .HeaderMainDesktop{
    display: none;
  }
}