#HomePageTop{
  display: flex;
  height: 342px;
  color: #fff;
  text-align: center;
  @include background-2x( '../images/img_header', 'png', 0px, 0px, 0 center, no-repeat );
  background-size: cover;

  h1{
    color: #fff;
    font-weight: 700;;
    text-shadow: 0 0 19px #4d7989;
    margin-bottom: 10px;
  }

  .HomePageTop__text{
    text-shadow: 0 0 19px #4d7989;
    font-size: 2.4rem;
    margin-bottom: 25px;
  }
}

@media (max-width: $screen-sm){
  #HomePageTop{
    display: none;
  }
}