.ReviewSlider{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 48px;

  h2{
    margin-bottom: 19px;
  }
}

.ReviewSlider__infos{
  font-size: 1.7rem;
  color: $grey2;
  margin-bottom: 18px;
}

.ReviewSlider__link{
  color: $black;
  float: right;
  text-align: right;
}

.ReviewSlider__list{
  width: 100%;
  order: 3;
  display: flex;
}

.ReviewSlider__items{
  display: flex;

  width: calc(50% - 15px);
  min-height: 246px;
  border: 1px solid #e8e8e8;
  margin-left: 30px;
  padding: 15px;
  
  &:first-child{
    margin-left: 0;
  }

  article{
    display: flex;
    justify-content: stretch;
    align-items: center;
  }
}

.ReviewSlider__content{
  margin: 15px;
  align-self: start;
}
.ReviewSlider__text{
  font-size: 1.7rem;
  font-weight: 600;
  h3{
    font-size: 2.1rem;
  }
  p{
    color: $grey;
  }
}


@media (max-width: $screen-sm){
  .ReviewSlider__items article{
    flex-direction: column;
    text-align: center;

    figure{
      display: flex;
      height: 138px;
      img{
        max-width: 100%;
        margin: auto;
      }
    }
  }
  .ReviewSlider__text{
    font-size: 1.4rem;
  }
  .ReviewSlider__link{
    font-size: 1.6rem;
  }
}
