.js-slider{
  width: 100%;
}
.js-slider-wrapper {
  overflow: hidden;
  width: 100%;

  ul {
    transition: left 1s ease;
  }
}

.js-slider-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.js-slider-btn {
  position: absolute;
  &.prev {
    left: -20px;
  }

  &.next {
    right: -20px;
  }
}