html {
  	/* équivalence 1rem = "10px" sur l'élément racine */
	font-size: 62.5%;
}

body{
  font: normal 2.3em/1.3 $font;
  color: $grey1;
}

a{
  color: $pink;
  text-decoration: none;
  &:hover{
    border-bottom: 1px solid $pink;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    a{
      color: inherit;
      border-bottom-color: inherit;
    }
  }
}

h1{
  font-size: 4.1rem;
  font-weight: 600;
  color: $grey1;
}

h2 {
  font-size: 3.1rem;
  font-weight: 600;
  color: $grey1;  
}

h3 {
  font-size: 2.9rem;
  font-weight: 700;
  color: $grey1;  
}

h4 {
  font-size: 2.5rem;
  font-weight: 600;
  color: $grey1;  
}

h5 {
  font-size: 2.2rem;
  font-weight: 700;
  color: $grey1;  
}

h6 {
  font-size: 1.9rem;
  font-weight: 700;
  color: $grey2;  
}