@font-face {
  font-family: 'mbicons';
  font-weight: normal;
  font-style: normal;
  src: url('../icons/mbicons.eot?1543500341199');
  src: url('../icons/mbicons.woff2?1543500341199') format('woff2'),
       url('../icons/mbicons.woff?1543500341199') format('woff'),
       url('../icons/mbicons.ttf?1543500341199') format('truetype'),
       url('../icons/mbicons.eot?#iefix-1543500341199') format('embedded-opentype');
}

.icon:before,
{
  display: inline-block;
  font-family: 'mbicons';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  //line-height: 1;
  text-transform: none;
}

/*
Glyphs list
*/

.icon-ic_chevron_menu:before {
 content: '\ea01';
}

.icon-ic_loupe:before {
 content: '\ea02';
}

.icon-ic_mobile_burgermenu:before {
 content: '\ea03';
}

.icon-ic_mobile_loupe:before {
 content: '\ea04';
}